@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
body {
  background-color: lightsalmon;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 4s;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15), 0 10px 100px rgba(0, 0, 0, 0.3);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .front-text {
  display: none;
}

.birthdayCard:hover .wrap-deco {
  display: none;
}

.birthdayCard:hover .wrap-decoTwo {
  display: none;
}

.birthdayCard:hover .plate {
  display: none;
}

.cardFront {
  position: relative;
  background-color: lightcoral;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13), 30px 0 50px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.happy,
.toyou {
  position: relative;
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  backface-visibility: hidden;
  font-size: 30px;
}

.happy {
  top: 198px;
}

.toyou {
  top: 123px;
}

.bday {
  position: relative;
  font-family: "Inconsolata", sans-serif;
  font-size: 35px;
  text-align: center;
  top: 163px;
}

.plate {
  position: absolute;
  left: 50px;
  top: 20px;
}

.plate,
img {
  width: 75%;
  height: 75%;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
  position: relative;
  top: -160px;
  transform: scale(0.7);
}

.wishes {
  position: relative;
  top: -100px;
  margin: 25px;
}

p {
  font-family: "Brush Script MT", cursive;
  color: #333;
}

.name {
  margin-left: 150px;
}

.leaves {
  position: absolute;
}

.leaf1 {
  position: absolute;
  font-size: 70px;
  top: 0;
  animation: fall 5s linear infinite;
}

.leaf2 {
  position: absolute;
  font-size: 55px;
  top: 0;
  animation: fall2 6s linear infinite;
}

.leaf3 {
  position: absolute;
  font-size: 40px;
  top: -400px;
  left: -100px;
  animation: fall 4s linear infinite 1s;
}

.leaf4 {
  position: absolute;
  font-size: 45px;
  top: -400px;
  left: 300px;
  animation: fall2 4s linear infinite 1.5s;
}

.leaf5 {
  position: absolute;
  font-size: 55px;
  top: -410px;
  left: 250px;
  animation: fall3 4s linear infinite 2s;
}

@keyframes fall {
  0% {
    top: -410px;
    transform: translateX(-100px) rotateX(180deg);
  }
  100% {
    top: 400px;
    transform: translateX(250px) rotateX(-180deg);
  }
}

@keyframes fall2 {
  0% {
    top: -410px;
    transform: translateX(50px) rotateX(-90deg);
  }
  100% {
    top: 400px;
    transform: translateX(-350px) rotateX(180deg);
  }
}

@keyframes fall3 {
  0% {
    top: -430px;
    transform: translateX(0px) rotateX(-180deg);
  }
  100% {
    top: 400px;
    transform: translateX(-400px) rotateX(180deg);
  }
}

@keyframes fall4 {
  0% {
    top: -430px;
    transform: translateX(0px) rotateY(-180deg);
  }
  100% {
    top: 400px;
    transform: translateX(-400px) rotateY(180deg);
  }
}

@keyframes fall5 {
  0% {
    top: -410px;
    transform: translateX(-100px) rotateY(180deg);
  }
  100% {
    top: 400px;
    transform: translateX(250px) rotateY(-180deg);
  }
}

.leaf6 {
  position: absolute;
  font-size: 55px;
  top: -410px;
  left: -250px;
  animation: fall3 4s linear infinite 1.5s;
}

.leaf7 {
  position: absolute;
  font-size: 35px;
  top: -410px;
  left: -350px;
  animation: fall2 5s linear infinite 0.5s;
}

.leaf8 {
  position: absolute;
  font-size: 75px;
  top: -430px;
  left: 550px;
  animation: fall3 5s linear infinite 0.5s;
}

.leaf9 {
  position: absolute;
  font-size: 35px;
  top: -430px;
  left: 150px;
  animation: fall4 6s linear infinite 0.3s;
}

.leaf10 {
  position: absolute;
  font-size: 55px;
  top: -430px;
  left: 450px;
  animation: fall5 3.7s linear infinite 1.3s;
}

.leaf11 {
  position: absolute;
  font-size: 55px;
  top: -430px;
  left: 650px;
  animation: fall5 4.7s linear infinite 1.7s;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Inconsolata", sans-serif;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: peru;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: orangered;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
